@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root{
    --bg-color :#F5B301;
    --input-color : #E4F1E4;
    --secondary-color : #2A2E34;
    --text-details-color : #3B3F46;
    --text-details-color-dark : #1E2328;
    --text-button-color : #FDFDFD;
    --checkbox-bg-0 : #ebeceb;
    --selected-color : #2c2c2a;
    --image-bg : url(/public/img/CHEDDAR\ 12.jpg);
    --image-bg-tablet : url(/public/img/CHEDDAR\ 1.jpg)
}

@keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    width: 100vw;
    height: 100vh;
}